li {
    list-style: none;
}

.header {
    /* border-top: 2px solid black; */
    padding-left: 20px;
    /* padding-right: 20px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:linear-gradient(to right,  rgb(22, 25, 73),rgb(39, 39, 107),rgb(48, 48, 121));
}
.logo{
    display: flex;
}
.logo h1{
    color: rgb(35, 35, 35);
}
.logo img{
    width: 90px;
}
a{
    text-decoration: none;
    color: #fcc709;
}

.nav{
    position: sticky ;
    top: 0;
    background-color: rgb(255, 255, 255);
    transition: 0.9s;
    z-index: 1;
    display: flex;
    z-index: 100000;
    width: 100%;
    justify-content: space-between;
    background-color: rgb(137, 43, 226);
}


.sign{
    display: flex;
    align-items: center;
    padding: 2px 10px ;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    transition: 0.5s all ease-in;
    background-color:  rgb(255, 255, 255);
}
.sign button{
    padding: 7px 10px;
    border: none;
    border-radius: 4px;
    outline: none;
    background-color: rgb(28, 35, 32);
    color: rgb(193, 193, 193);
    cursor: pointer;
    margin-left: 3px;
    transition: 0.3s ease;
}
.sign button:hover{
    background-color: rgb(66, 69, 67);
    color: rgb(255, 255, 255);
}
.nav_bar {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}
.nav_item{
    width: 100%;
    text-align: center;
    padding: 20px 0;
    /* text-transform: uppercase; */
    transition: 0.3s all ease-in;
    color: rgb(255, 255, 255);
    /* border-bottom: 2px solid rgb(255, 255, 255); */
    font-weight: 500;
}
.nav_item:hover,.nav_item:active{
    color: rgb(137, 43, 226);
    background-color: rgb(255, 255, 255);
}
.notification{
    color: rgb(56, 60, 63);
    padding-right:5px ;
}
.notification:hover{
    color: rgb(48, 47, 55);
    cursor: pointer;
}

.fa-user-circle{
    color:#313c36!important;
}
.fa-user-circle:hover{
    color:#42574c!important;
}



.user h4{
    margin-right: 10px;
    color:#fcc709;
    font-weight: 400 !important;
    margin-left: 5px;
}
.sign button{
    padding: 7px 10px;
    border: none;
    border-radius: 4px;
    outline: none;
    background-color: rgb(28, 35, 32);
    color: rgb(193, 193, 193);
    cursor: pointer;
    margin-left: 3px;
    transition: 0.3s ease;
}
.sign button:hover{
    background-color: rgb(66, 69, 67);
    color: rgb(255, 255, 255);
}
.drop{
    border: 1px solid white;
    border-radius: 5px;
    width: 100%;
    text-align: center;
}

.slide-nav{
    position: fixed;
      /* position: absolute; */
      left: 0;
      top: 65px;
      width: 200px;
      height: 90vh;
      background-color: blueviolet;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      text-align: center;
      align-items: center;
      transform: translateX(-200px);
      transition:  0.9s all ease-in ;
      z-index: 1000;
  }
  .slide-nav-animate{
      position: fixed;
      /* position: absolute; */
      left: 0;
      top: 65px;
      width: 200px;
      height: 100vh;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      text-align: center;
      align-items: center;
      transition: 0.9s ;
      transform: translateX(0px);
      font-weight: 400;
      z-index: 1000;
  }
  
  
  .slide-nav ul li{
      padding: 30px 0;
      color: rgb(7, 7, 7);
      cursor: pointer;
      font-weight: 400;
      opacity: 0;
      width: 150px;
  }
  .slide-nav-animate ul li{
      padding: 30px 0;
      color: rgb(255, 255, 255);
      /* transition: 0.5s; */
      font-weight: 400;
      opacity: 0;
      width: 150px;
  }
  .slide-nav-animate ul li:hover{
    color: blueviolet;
    background-color: white;
    /* font-size: x-large; */
    border-radius: 5px 25%;
      font-weight: 400;
  }
  
  .slide-nav-after{
      left: 0;
      top:65px;
      height: 100vh;
      background-color: blueviolet;
      transition: 0.9s;
      z-index: 1000;
      font-weight: 400;
      /* transform: translateX(-200px); */
  }
  
  
  
  .burger{
    /* background-color: rgb(255, 255, 255); */
  display:inline-flex;
    /* width: 200px;    */
    padding: 22px 88px;
    /* margin: 0 86px; */
    
}
.burger >div >div{
    padding: 1.5px;
    margin-bottom: 4px;
    background-color:rgb(255, 255, 255);
    width: 20px;  
    border-radius: 20px;
    transition: all 0.5s ease;
}

.burger >div :hover{
    background-color: white;
}

  @keyframes slideLink{
    from {
        opacity: 0;
        transform: translateX(-150px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.rot .line1
{
    transform: rotate(-45deg) translate(-5px,6px);
}
.rot .line2
{
    opacity: 0;
}
.rot .line3
{
    transform: rotate(45deg) translate(-5px,-6px);
}

.nav-sign {
    color: rgb(255, 255, 255) !important;
    width: 80;
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
    margin: 0 20px;
    cursor: pointer;
    font-weight: normal;
}

.slide-nav h4{
    color: rgb(0, 0, 0) ;
    padding-bottom: 20px;
    font-weight: lighter;
}

.notification-box {
    display: none;
    position: absolute;
    /* display: none; */
    border-radius: 5px;
    width: 300px;
    height: 400px;
    z-index: 1000000;
    top: 55px;
    right: 100px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    box-shadow: 1px 3px 50px 1px rgba(0, 0, 0, 0.578);
}
.notification-box > ul > li{
        text-align: right;
}
.notification-box ul a li{
    color: black;
    height: 50px;
    padding: 5px;
    background-color: rgb(218, 220, 218);
    border: 1px solid rgb(255, 255, 255);
    font-size: 10px;
    /* border-radius: 20px; */
}
.notification-box::after {
    content: "";
    position: absolute;
    z-index: 100000;
    margin-left: 180px;
    top: -20px;
    border-width: 10px;
    border-style: solid;
    border-color:  transparent  transparent rgb(255, 255, 255) transparent;
  }