@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
  
    /* overflow-x: hidden; */
    /* overflow-y: scroll; */
}
body{
    width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}
li {
    list-style: none;
}
a{
    text-decoration: none;
}
p{
    font-size: 18px;
    color: rgb(55, 55, 56); ;
}
.header {
    /* border-top: 2px solid black; */
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
  
}
.nav{
    position: sticky;
    /* padding: 0 20px 0 0; */
    background-color: rgb(255, 255, 255);
    transition: 0.9s;
    z-index: 1;
    top: 0;
    display: flex;
    z-index: 1000;
    justify-content: space-between;
    border-top: 1px solid rgb(215, 215, 215);
    /* border-bottom: 1px solid rgb(215, 215, 215); */
}
.sign{
    display: flex;
    align-items: center;
    padding: 5px 10px ;
    border-radius: 5px;
    transition: 0.5s all ease-in;
    /* background-color:  rgb(205, 42, 42); */
}
.sign button{
    font-family: 'Poppins', sans-serif;
    padding: 7px 10px;
    border: none;
    border-radius: 4px;
    outline: none;
    background-color: rgb(28, 35, 32);
    color: rgb(193, 193, 193);
    cursor: pointer;
    margin-left: 3px;
    transition: 0.3s ease;
}
.sign button:hover{
    background-color: rgb(66, 69, 67);
    color: rgb(255, 255, 255);
}
.user{
    padding-right: 10px;
    color: #1a1a1a;
    padding-left: 5px;
}

.fa-user-circle{
    color:#313c36!important;
}
.fa-user-circle:hover{
    color:#42574c!important;
}
.notification{
    color: rgb(56, 60, 63);
    padding-right:15px ;
}
.notification:hover{
    color: rgb(48, 47, 55);
    cursor: pointer;
}


.nav_bar {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.nav_item{
    width: 100%;
    text-align: center;
    padding: 20px 0;
    /* text-transform: uppercase; */
    transition: 0.3s all ease-in;
    color: rgb(6, 6, 6);
    border-bottom: 2px solid rgb(255, 255, 255);
    font-weight: 500;
}
.nav_item:hover{
 border-bottom: 2px solid black;
 color: rgb(0, 77, 255);
}
.notification-box {
    display: none;
    position: absolute;
    /* display: none; */
    border-radius: 5px;
    width: 300px;
    height: 400px;
    z-index: 1000000;
    top: 55px;
    right: 100px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    box-shadow: 1px 3px 50px 1px rgba(0, 0, 0, 0.578);
}
.notification-box > ul > li{
        text-align: right;
}
.notification-box ul a li{
    color: black;
    height: 50px;
    padding: 5px;
    background-color: rgb(218, 220, 218);
    border: 1px solid rgb(255, 255, 255);
    font-size: 10px;
    /* border-radius: 20px; */
}
.notification-box::after {
    content: "";
    position: absolute;
    z-index: 100000;
    margin-left: 180px;
    top: -20px;
    border-width: 10px;
    border-style: solid;
    border-color:  transparent  transparent rgb(255, 255, 255) transparent;
  }
.logo{
    display: flex;
}
.logo img{
    width: 90px;
}

.logo h1{
    color: white;
}
@keyframes slideLink{
    from {
        opacity: 0;
        transform: translateX(-150px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.rot .line1
{
    transform: rotate(-45deg) translate(-5px,6px);
}
.rot .line2
{
    opacity: 0;
}
.rot .line3
{
    transform: rotate(45deg) translate(-5px,-6px);
}

.nav-sign {
    color: rgb(255, 255, 255) !important;
    width: 80;
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
    margin: 0 20px;
    cursor: pointer;
    font-weight: normal;
}

.slide-nav h4{
    color: rgb(29, 31, 29) ;
    padding-bottom: 20px;
    font-weight: lighter;
}

.slide-nav{
    position: fixed;
      /* position: absolute; */
      left: 0;
      top: 65px;
      width: 200px;
      height: 90vh;
      background-color:  rgb(255, 255, 255);
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      text-align: center;
      align-items: center;
      transform: translateX(-200px);
      transition:  0.9s all ease-in ;
  }
  .slide-nav-animate{
      position: fixed;
      /* position: absolute; */
      left: 0;
      top: 65px;
      width: 200px;
      height: 90vh;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      text-align: center;
      align-items: center;
      transition: 0.9s ;
      transform: translateX(0px);
      border-right: 1px solid rgb(223, 214, 214);
      font-weight: 800;
  }
  
  
  .slide-nav ul li{
      padding: 30px 0;
      color: rgb(7, 7, 7);
      cursor: pointer;
      font-weight: 800;
      opacity: 0;
  }
  .slide-nav-animate ul li{
      padding: 30px 0;
      color: rgb(0, 0, 0);
      transition: 0.5s;
      font-weight: 800;
      opacity: 0;
  }
  .slide-nav-animate ul li:hover{
      color: rgb(27, 46, 255);
      /* font-size: x-large; */
      font-weight: 800;
      padding: 30px 0;
  }
  
  .slide-nav-after{
      left: 0;
      top:65px;
      height: 100vh;
      background-color:  rgb(255, 255, 255);
      transition: 0.9s;
      z-index: 100000;
      font-weight: 800;
      /* transform: translateX(-200px); */
  }
  
  
  .burger{
      background-color: rgb(255, 255, 255);
    display:inline-flex;
      /* width: 200px;    */
      padding: 22px 88px;
      /* margin: 0 86px; */
      
  }
  .burger >div >div{
      padding: 1.5px;
      margin-bottom: 4px;
      background-color:rgb(0, 0, 0);
      width: 20px;  
      transition: all 0.5s ease;
  }
  
  .burger >div :hover{
      background-color: white;
  }
  .grid-container {
      width: 100%;
      overflow-x: hidden;
      box-sizing: border-box;
    display: grid;
    color: rgb(155, 155, 155);
    font-weight: 400;
    grid-template-columns: 33% 33% 33%;
    padding: 20px ;
    background-color: rgb(9, 9, 9);
}
.copyright {
    background-color: black;
}

.copyright h2 {
    text-align: center;
    width: 100%;
    color: rgb(171, 171, 171);
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 12px;
    font-weight: lighter;
}
.grid-items{
    width: 100%;
    padding: 10px;
    color: rgb(221, 221, 221) ;
}
.grid-items h3{
    color: white;
    padding-bottom: 10px;
    font-weight: normal;
}

.grid-items ul li{
    padding: 5px 0;
    color: rgb(126, 126, 126);
    font-size: 14px;
}

.follow{
    /* display: flex; */
    background-color: rgb(6, 6, 6);
    padding: 20px 0 20px 20px;
}

.follow h2{
    color: rgb(91, 111, 98);
}

.social{
    padding: 0 350px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
}

.social i{
    color: rgb(171, 171, 171);
}
.social i:hover{
    color: rgb(0, 8, 255);
}
.fa-whatsapp:hover{
    color: rgb(4, 193, 64)!important;
}
.section1{
    height: 80vh;
    width: 100%;
    /* background-image: url(../img/hostel-img3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    /* background-color: rgb(55, 0, 255); */
}
.section1 >img{
     position: fixed;
     z-index: -1;
     height: 100vh;
     width: 100%;
     top: 0px;
     filter: brightness(0.3);
     background-attachment: fixed;
     overflow-x: hidden;
}
.section1-header{
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
    text-align: center;
}
.section1-header h2{
    /* opacity:0; */
    color: white;
    font-family: 'Patrick Hand', cursive;
    font-size: 70px;
    transition: 2.5s ease;
}
span.fade{
    opacity: 1 !important;
}
.section1-header h2 span{
    opacity: 0;
    transition: all 1s ease;
}

.section1-header button{
    padding: 10px 30px;
    margin-top: 40px;
    /* border: 1px solid rgb(255, 255, 255); */
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 50px;
    cursor: pointer;
    color: white;
    background-color: blue;
    transition: 0.5s ;
}

.section1-apper{
    opacity:1!important;
    transform: translateY(0px)!important;
    transition: 0.4s ease;
}
.section1-header h4{
    opacity:0;
    color: rgb(217, 217, 218);
    font-weight: normal;
    font-size: 18px;
    font-family: 'Patrick Hand', cursive;
    transform: translateY(50px);
    transition: 2s ease;
}

.section1-header h1{
    color: white;
    margin-top: 100px;
    font-size: 40px;
    font-family: 'Patrick Hand', cursive;
    font-weight: bold;
}
/* section2 header */
.section2{
    height: 100vh;
    width: 100%;
    /* background-image: url(../img/hostel-img3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    /* background-color: rgb(55, 0, 255); */
}
.section2-header{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    padding-top: 25px;
    text-align: center;
    background-color: white;
}
.section2-header h4{
    opacity:1;
    color: rgb(27, 27, 35);
    font-weight: normal;
    font-size: 18px;
    font-family: 'Patrick Hand', cursive;
    transform: translateY(50px);
    transition: 2s ease;
}
.section2-header h2{
    opacity:1;
    color:  rgb(27, 27, 35);
    font-family: 'Patrick Hand', cursive;
    font-size: 70px;
    transition: 2.5s ease;
}
.section2-header>div{
    width: 100%;
    /* background-color: rgb(0, 128, 255); */
}
.component{
    display: flex;
    margin-top: 30px;
    font-family: 'Patrick Hand', cursive;
    justify-content: space-around;
    width: 100%;
}
.component >div{
    width: 100%;
    padding: 20px 30px;
    /* background-color: rgba(181, 185, 194, 0.776); */
}
.component img{
    width: 30%;
  margin: 30px 0;
}
.component >div h1{
    color:  rgb(27, 27, 35);
}
.boarding {
    transform: translateY(-90px);
    opacity: 0;
    transition: 1s all ease-out;
}
.boarding-apper{
    transform: translateY(0px)!important;
    opacity: 1;
}
.find {
    transform: translate(400px, -90px);
    opacity: 0;
    transition: 1s all ease-out;
}
.find-apper{
    transform: translate(0px, 0px)!important;
    opacity: 1;
}
.delivery {
    transform: translate(-400px, -90px);
    opacity: 0;
    transition: 1s all ease-out;
}
.delivery-apper{
    transform: translate(0px, 0px)!important;
    opacity: 1;
}


/* section 3 style  */
.section3{
    height: 100vh;
    width: 100%;
    background-image: url(../img/find.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-color: rgb(55, 0, 255); */
}
.section4{
    height: 100vh;
    width: 100%;
}
.section4-header{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    padding-top: 25px;
    text-align: center;
    background-color: white;
    font-family: 'Patrick Hand', cursive;
}
.section4-header h4{
    opacity:1;
    color: rgb(27, 27, 35);
    font-weight: normal;
    font-size: 18px;
    transform: translateY(50px);
    transition: 2s ease;
}
.section4-header h2{
    opacity:1;
    color:  rgb(27, 27, 35);
    font-family: 'Patrick Hand', cursive;
    font-size: 42px;
    transition: 2.5s ease;
}
.section4-header h3{
    font-size: 32px;
    color: rgb(0, 106, 255);
}
.section4-header>div{
    width: 100%;
}
/* section4 animation */
.free {
    transform: translateY(-60px);
    opacity: 0;
    transition: 1s all ease-out;
}
.free-apper{
    transform: translateY(0px)!important;
    opacity: 1;
}
.keymoney {
    transform: translate(400px, -60px);
    opacity: 0;
    transition: 1s all ease-out;
}
.keymoney-apper{
    transform: translate(0px, 0px)!important;
    opacity: 1;
}
.order {
    transform: translate(-400px, -60px);
    opacity: 0;
    transition: 1s all ease-out;
}
.order-apper{
    transform: translate(0px, 0px)!important;
    opacity: 1;
}

.section5{
    height: 100vh;
    width: 100%;
    background-image: url(../img/post.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-color: rgb(55, 0, 255); */
}

.section6{
    height: 100vh;
    width: 100%;
}
.section6-header{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    padding-top: 25px;
    text-align: center;
    background-color: white;
    font-family: 'Patrick Hand', cursive;
}
.section6-header h4{
    opacity:1;
    color: rgb(27, 27, 35);
    font-weight: normal;
    font-size: 18px;
    transform: translateY(50px);
    transition: 2s ease;
}
.section6-header h2{
    opacity:1;
    color:  rgb(27, 27, 35);
    font-family: 'Patrick Hand', cursive;
    font-size: 42px;
    transition: 2.5s ease;
}
.boarder {
    transform: translateY(-60px);
    opacity: 0;
    transition: 1s all ease-out;
}
.boarder-apper{
    transform: translateY(0px)!important;
    opacity: 1;
}
.post {
    transform: translate(400px, -60px);
    opacity: 0;
    transition: 1s all ease-out;
}
.post-apper{
    transform: translate(0px, 0px)!important;
    opacity: 1;
}
.order-b {
    transform: translate(-400px, -60px);
    opacity: 0;
    transition: 1s all ease-out;
}
.order-b-apper{
    transform: translate(0px, 0px)!important;
    opacity: 1;
}

.section7{
    height: 100vh;
    width: 100%;
    background-image: url(../img/delivery.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-color: rgb(55, 0, 255); */
}
.section8{
    height: 100vh;
    width: 100%;
}
.section8-header{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    padding-top: 25px;
    text-align: center;
    background-color: white;
    font-family: 'Patrick Hand', cursive;
}
.section8-header h4{
    opacity:1;
    color: rgb(27, 27, 35);
    font-weight: normal;
    font-size: 18px;
    transform: translateY(50px);
    transition: 2s ease;
}
.section8-header h2{
    opacity:1;
    color:  rgb(27, 27, 35);
    font-family: 'Patrick Hand', cursive;
    font-size: 42px;
    transition: 2.5s ease;
}
.get {
    transform: translateY(-60px);
    opacity: 0;
    transition: 1s all ease-out;
}
.get-apper{
    transform: translateY(0px)!important;
    opacity: 1;
}
.post-a {
    transform: translate(400px, -60px);
    opacity: 0;
    transition: 1s all ease-out;
}
.post-a-apper{
    transform: translate(0px, 0px)!important;
    opacity: 1;
}
.grow {
    transform: translate(-400px, -60px);
    opacity: 0;
    transition: 1s all ease-out;
}
.grow-apper{
    transform: translate(0px, 0px)!important;
    opacity: 1;
}

.section7{
    height: 100vh;
    width: 100%;
    background-image: url(../img/delivery.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-color: rgb(55, 0, 255); */
}